* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.wrap {
    background: #FFF;
    width: 390px;
    height: 844px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.instagram {
    width: 100%;
    height: 100%;
}

.header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header-bar > span:first-child {
    font-size: 22px;
    margin: 7px;
}

#arrow-down{
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    width: 18px;
}

.header-bar > .buttons {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
} 

#post-like {
    cursor: pointer;
}

#post-like:hover {
    color: red;
}

#fill-heart {
    display: none;
    fill: red;
}

.user-header {
    padding: 0;
}

.post {
    width: 100%;
    height: 390px;
    flex-shrink: 0;
    background-color: aqua;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
    width: 100%;
}

.top_detail {
    display: flex;
    height: 50px;
    width: 100%;
    padding: 16px 16px 6px 344px;
    justify-content: flex-end;
    align-items: center;
}

.bottom_detail {
    display: flex;
    height: 43px;
    width: 100%;
    padding: 9px 350px 10px 16px;
    align-items: center;
    flex-shrink: 0;
}

.icons {
    height: 44px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

ul {
    padding: 0;
    margin: 7px;
    align-items: center;
    justify-content: space-between;
    height: 5px;
    width: 40%;
    
}

li {
    width: 5px;
    height: 5px;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0;
}


.likes {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 61px;
}

.likes .like {
    font-size: 14px;
}

