body {
    background-color: #ddd;
}

.wrap {
    background: #FFF;
    width: 390px;
    height: 844px;
    margin: 0 auto;
}

.instagram {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.navigation-bar {
    width: 100%;
    padding: 5px 13px;
    justify-content: center;
    align-items: center;
    gap: 114px;
}