/* CSS 작성 */

/* 로고 */
.logo {
    margin-top: 100px;
    width: 176px;
    height: 40px;
    margin-bottom: 54px;
}

/* 상품 테두리 */
.item {
    border: 1px solid var(--border-color);
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

/* 상품 테두리 포커스나 호버 시에 색깔 바꿈 */
.item:focus-within, .item:hover {
    border-color: var(--blue);
}

/* 상품 테두리 포커스나 호버 시에 버튼 사이즈 및 색상 바꿈 */
.item:hover .buybutton, 
.item:focus-within .buybutton {
    width: 112px;
    background-color: var(--blue);
    opacity: 100%;
}

/* 상품 테두리 포커스나 호버 시에 글자 바꿈*/
.item:hover .buybutton a::before,
.item:focus-within .buybutton a::before {
    content: "구매하기 \00a0\00a0\00a0>";
    line-height: 42px;
    font-size: 14px;
    color: #ffffff;
}

/* 상품 영역 */
article {
    width: 1020px;
    height: 958px;
}

/* 오늘의 발견 */
#header {
    font-size: 24px;
    color: var(--black);
}

/* | 와 뒤에 글자 스타일 */
.section-header {
    color: var(--gray);
    margin-bottom: 24px;
}

/* 상품 이미지 */
.product_img {
    width: 445px;
    height: 270px;
}

/* 큰 사이즈 상품들 스타일 */
.first-row, #wettissue {
    width: 502px;
    height: 310px;
    float: left;
    margin-bottom: 16px;
}

/* 첫째줄 마진 조정 */
.first-row:first-child {
    margin-right: 16px;
}

/* 둘째줄과 셋째줄 스타일 */
.second-row, .third-row {
    width: 243px;
    height: 310px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

/* 둘째줄과 셋째줄 마지막 상품 마진 조정 */
#dumpling,#dyson {
    margin: 0;
}

/* 상품 테두리 안 구매하기 버튼 */
.buybutton {
    width: 42px;
    height: 42px;
    background-color: var(--gray);
    position: absolute;
    left: 22px;
    bottom: 20px;
    text-align: center;
    opacity: 0.8;
    transition: width 1s;
}

/* 상품 테두리 안 구매하기 버튼 링크 */
.buybutton a {
    display: block;
    line-height: 42px;
    width: 100%;
    height: 100%;
    color: var(--anchor-color);
}

/* 상품 테두리 안 구매하기 버튼 링크 활성화 전 상태 */
.buybutton a::before {
    content: ">";
    line-height: 42px;
    font-size: 14px;
    color: #ffffff;
}