/* Theme 스타일 작성 */
:root {
    --blue: #0074E9;
    --black: #181818;
    --gray: #AAA9A9;
    --button-gray: #00000033; /*button color with 20% opacity*/
    --border-color: #c4c4c4;
    --anchor-color: #F3F3F3;
}