/* 카테고리별 추천 광고상품 */
header {
    margin: 100px 139px 48px 139px;
    width: auto;
}

.CategoryBest {
    margin: 48px 130px 420px 130px;
}

.top-title {
    color: var(--color-black);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    margin-bottom: 0;
}

.main-title {
    color: var(--color-black);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    margin-top: 0;
}

.main-title span {
    color: var(--color-blue-600);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}

.CategoryBestSection,
.CategoryBestSection2 {
    width: 1022px;
    height: 634px;
    flex-shrink: 0;
    display: flex;
    border-top: #9D7A6D 1px solid;
    border-bottom: #9D7A6D 1px solid;
}

.CategoryBestSection .left
.CategoryBestSection2 .left {
    width: 174px;
}

.CategoryBestSection .left .title-바로가기,
.CategoryBestSection2 .left .title-바로가기 {
    margin: 48px 61px 0 24px;
}

.CategoryBestSection .left .생활용품 {
    color: var(--brown-300, #9D7A6D);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
}

.CategoryBestSection2 .left .주방용품 {
    color: var(--green-700, #00B599);   
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
}

.CategoryBestSection .left .title-바로가기 .바로가기,
.CategoryBestSection2 .left .title-바로가기 .바로가기 {
    background-image: url(/미션3/assets/icon/angle-right-default.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 63px;
    height: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--gray-700, #767676);
    margin-top: 0;
}

.CategoryBestSection .left .title-바로가기 .바로가기::before,
.CategoryBestSection2 .left .title-바로가기 .바로가기::before {
    content: "바로가기";
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.CategoryBestSection .키워드,
.CategoryBestSection2 .키워드 {
    margin-top: 248px;
    margin-left: 24px;
}

.CategoryBestSection .HashtagGroup,
.CategoryBestSection2 .HashtagGroup {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 12px;
}

.CategoryBestSection h3,
.CategoryBestSection2 h3 {
    color: var(--black, #181818);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    margin-top: 0;
    /*margin-bottom: 20px;*/
}

.CategoryBestSection .key {
    color: var(--brown-300, #9D7A6D);
    font-family: "Noto Sans KR";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 6px 10px;
    border: 1px solid var(--gray-400, #CCC);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.CategoryBestSection2 .key {
    color: var(--green-700, #00B599);
    font-family: "Noto Sans KR";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 6px 10px;
    border: 1px solid var(--gray-400, #CCC);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.CategoryBestSection > .carousel {
    position: relative;
}

.CategoryBestSection2 > .carousel {
    position: relative;
}

.CategoryBestSection > .carousel > .item1 {
    background: url(/미션3/assets/slides/houseware-downy.jpg), lightgray 50% / cover no-repeat;
    width: 320px;
    height: 631px;
}

.CategoryBestSection2 > .carousel > .item1 {
    background: url(/미션3/assets/slides/kitchenware-tumbler.jpg), lightgray 50% / cover no-repeat;
    width: 320px;
    height: 631px;
}

.CategoryBestSection > .carousel > .item1 > .desc {
    background: var(--brown-300, #9D7A6D);
    width: 260px;
    height: 90px;
    display: flex;
    padding: 19px 22px 20px 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    bottom: 58px;
    left: 30px;
    gap: 8px;
}

.CategoryBestSection2 > .carousel > .item1 > .desc {
    background: var(--green-700, #00B599);
    width: 260px;
    height: 90px;
    display: flex;
    padding: 19px 22px 20px 23px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    bottom: 58px;
    left: 30px;
    gap: 8px;
}

.SlideBannerTextLarge {
    color: var(--grayscale-white-white, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.SlideBannerTextSmall {
    color: var(--grayscale-white-white, #FFF);
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.indicator {
    position: absolute;
    bottom: 22px;
    right: 144px;
}


.CategoryBestSection > .item,
.CategoryBestSection2 > .item {
    width: calc(658px - 130px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "ba ha cc"
        "ms dr m";
    margin: 16px;
    gap: 16px;
}

.item-name {
    color: var(--black, #181818);
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 152px;
}

.item .basket, .kitchen-towel {
    grid-area: "ba";
}

.item .hairoil, .airfryer {
    grid-area: "ha";
}

.item .cleaningcloth, .paperfoil {
    grid-area: "cc";
}

.item .massagestick, .zipper-bag {
    grid-area: "ms";
}

.item .dryingrack, .spoon {
    grid-area: "dr";
}

.item .mask, .coffee {
    grid-area: "m";
}

.price-desc {
    color: var(--red-500, #E52330);
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 12px;
    margin-bottom: 5px;
}

.price {
    color: var(--black, #181818);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.price span:last-of-type {
    color: var(--black, #181818);
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.carousel::after {
    content: "";
    display: block;
    width: 528px;
    height: 0.5px;
    background-color: var(--gray-600, #AAA9A9);
    position: absolute;
    top: 50%;
    left: 320px;
}